
.loader {
  position: relative;
  height: 4px;
  width: 100px;

  border-radius: 2px;
  background: #eee5c8;
  overflow: hidden;
}

.rotating-box {
  position: absolute;
  top: -12px; 
  left: 0;
  width: 15px;
  height: 20px;
  background: #EEE5C8;
  border-radius: 4px;
  animation: moveRotate 4s linear infinite;
}
.rotating-box::after {
  content: "";
  position: absolute;
  width: 5px;
  left: 0;
  height: 20px;
  z-index: 999;
  background: #fefefe;
}
.rotating-box::before {
    content: "";
    position: absolute;
    width: 5px;
    right: 0;
    height: 20px;
    z-index: 999;
    background: #fefefe;
  }
  

@keyframes moveRotate {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0);
  }
}
