html {
  overscroll-behavior: none;
}
::-webkit-scrollbar {
  display: none;
}
.letters {
  flex: 1;
}

.letters > div {
  flex: 1;
  font-size: 8.3vw;
  text-align: center;
  color: #8f1d2c;
}
.span_with_after {
  position: relative;
}
.span_with_after::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 100%;
  background: #eee5c8;
  height: 2px;
}
.span_with_after::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  width: 100%;
  background: #eee5c8;
  height: 2px;
}

.button-daire {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #eee5c8;
  background: #8f1d2c;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-daire:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-daire {
    padding: 0.25em 0.75em;
  }
}

.old-photo {
  position: relative;
  display: inline-block;
}

.old-photo img {
  width: 100%; 
  rotate: -7deg;
  filter: sepia(.4) contrast(1) brightness(0.9);
 
  border-radius: 10px; 
 
  /* mix-blend-mode:luminosity */
}




.svg_mix textPath{
  mix-blend-mode: difference !important;
}
.svg_mix text:nth-last-child(){
  mix-blend-mode: difference !important;
}