@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NeonGratisk";
  src: url("./assets/fonts/neon_grotesk/NeueHaasDisplayMediu.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Warpen";
  src: url("./assets/fonts/Warpen.otf") format("truetype");
}
body {
  cursor: default;
}

