.bars {
    display: flex;
    position: relative;
  }
  .bar {
    min-height: 100vh;

    background: #2E2827;
    position: fixed;
   
    bottom: 100%;
    width: 100%;
  }
  .bar1 {
    left: 0;
  }
